<div id="page-content">
  <h1 class="text-center mt-4">Create New Article</h1>
  <%# here i can just use the form 3alatool coz it's in the same dir unlike the layouts dir %>
  <%= render 'form' %>
</div>