<h1>Create a New Article</h1>

<%# here i can just use the form 3alatool coz it's in the same dir unlike the layouts dir %>
<%= render 'form' %>

<%= link_to 'Return to articles listing', articles_path %>